    <div class="col-12">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.property_title}}" placeholder="Property Title" name="property_title">
      <label for="floatingInput">Property Title</label>
    </div>
  </div>
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.property_address}}" placeholder="Property Address" name="property_address">
      <label for="floatingInput">Address</label>
    </div>
  </div>
  
 
   <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.property_neighbourhood}}" placeholder="Property Neighbourhood" name="property_neighbourhood">
      <label for="floatingInput">Neighbourhood</label>
    </div>
  </div>
  <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.property_type}}" placeholder="Property Type" name="property_type">
      <label for="floatingInput">Property Type</label>
    </div>
  </div>
     <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.property_area}}" placeholder="Property Area (in sq.metres)" name="property_area">
      <label for="floatingInput">Area (in Sq.metres) </label>
    </div>
  </div>
     <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.property_seats}}" placeholder="Number of Seats Available" name="property_seats">
      <label for="floatingInput">Seats Available</label>
    </div>
  </div>
   <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.prop_smoking_area}}" placeholder="Yes/No" name="prop_smoking_area">
      <label for="floatingInput">Smoking Area (Yes/No)</label>
    </div>
  </div>
     <div class="col-4">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.prop_parking_facility}}" placeholder="Parking Facility" name="prop_parking_facility">
      <label for="floatingInput">Parking Facility (Yes/No)</label>
    </div>
  </div>
     <div class="col-4">
    <div class="form-floating mb-3">
      <input type="date" class="form-control" id="floatingInput" value="{{this.prop_availability}}" placeholder="Availability date" name="prop_availability">
      <label for="floatingInput">Availability</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.property_lease}}" placeholder="Lease Term" name="property_lease">
      <label for="floatingInput">Lease term (Monthly, Weekly, Daily)</label>
    </div>
  </div>
  <div class="col-6">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.property_rent}}" placeholder="Rent" name="property_rent">
      <label for="floatingInput">Rent</label>
    </div>
  </div>
    <div class="col-12">
    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" value="{{this.property_contact}}" placeholder="Contact" name="property_contact">
      <label for="floatingInput">Contact Details  (Email and/or Phone)</label>
    </div>
  </div>
  <div class="col-12">
    <div class="form-floating mb-3">
          <textarea class="form-control" placeholder="Description" id="floatingInput" name="property_description" style="height: 200px">{{this.property_description}}</textarea>
      <label for="description">Description</label>
    </div>
  </div>
  <div class="col-12 d-grid">
    <button class="btn btn-primary" type="submit">Submit</button>
  </div>